alertClip=false

alertClipTimeout=5

alwaysTileHorizontally=false

chooserDividerLocation=190

chooserVisible=true

clipboardMaximized=false

clipboardSizeX=600

clipboardSizeY=600

clipboardVisible=true

clipboardX=25

clipboardY=25

durationA=1.86

durationB=-0.85

durationEnabled=false

fdsnDataselectURL=http://service.iris.edu/fdsnws/dataselect/1/query

fdsnStationURL=http://service.iris.edu/fdsnws/station/1/query

hideStaleChannel=false

hypocenterSource=NONE

kiosk=false

lastPath=/Users/thompsong/data/MESS2023/DATA/01_Monday/Afternoon/MSEED

layout=

loadLayout=false

mapHeight=510

mapLatitude=56.00757938584854

mapLineColor=0

mapLineWidth=2

mapLongitude=-159.2098045242138

mapMaximized=false

mapPath=mapdata

mapScale=593.5932227611135

mapVisible=true

mapWidth=505

mapX=95

mapY=0

nearestDividerLocation=529

pVelocity=6.0

saveConfig=true

server=AVO Winston;wws:pubavo1.wr.usgs.gov:16022:10000:1

showClip=true

span=24

specificTimeZone=UTC

timeChunk=30

useInstrumentTimeZone=true

useLargeCursor=false

useLocalTimeZone=true

useWMS=false

userTimes=

velocityRatio=1.73

windowMaximized=false

windowSizeX=1000

windowSizeY=700

windowX=158

windowY=62

wmsLayer=0

wmsServer=https://basemap.nationalmap.gov/arcgis/services/USGSTopo/MapServer/WMSServer?

wmsStyles=

